* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html.textomaior {
  font-size: 150%;
}

body {
  background: #faf6ed;
}

ul {
  list-style: none;
}

a {
  color: #222;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.js section {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.5s ease;
}

.js section.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3/5;
  background-color: #fb5;
  margin: 2rem 0;
}

.menu ul {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.menu li a {
  color: #222;
  display: block;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

[data-dropdown] {
  position: relative;
}
[data-dropdown]:hover .dropDownMenu,
[data-dropdown].ativo .dropDownMenu {
  display: flex;
  animation: dropDownAnima 0.2s forwards;
}

@keyframes dropDownAnima {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

[data-dropdown] .dropDownMenu {
  display: none;
}

.dropDownMenu {
  position: absolute;
  top: 38px;
  background-color: #e54;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  z-index: 999;
}

.dropDownMenu::before {
  position: absolute;
  top: -10px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e54;
}

.dropDownMenu a:hover {
  color: #fff;
}

.grid-section {
  grid-column: 2/4;
  margin-bottom: 4rem;
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 90px 300px 1fr;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0.1em;
  font-size: 1rem;
  text-transform: uppercase;
  color: #e54;
}

.animais h2::before {
  content: "";
  width: 30px;
  height: 10px;
  background: #fb5;
  display: inline-block;
  margin-right: 10px;
  transition: 0.4s;
}

.animais h2:hover::before {
  width: 45px;
}

.animais p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
}

.animais-lista {
  overflow-y: scroll;
  height: 370px;
  grid-column: 2;
}
.animais-lista li {
  cursor: pointer;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.js .animais-descricao section {
  display: none;
}

.js .animais-descricao section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.faq-lista {
  grid-column: 2/4;
}

.faq-lista dt {
  color: #e54;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.faq-lista dt::after {
  content: "↓";
  margin-left: 15px;
}

.faq-lista dt.ativo::after {
  content: "↑";
}

.faq-lista dt::before {
  content: "";
  width: 20px;
  height: 10px;
  background: #fb5;
  display: inline-block;
  margin-right: 10px;
}

.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin-left: 30px;
}
.js .faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin-left: 30px;
  display: none;
}

.js .faq-lista dd.ativo {
  display: block;
  animation: show 0.5s forwards;
}

.contato h2 {
  margin-bottom: 2rem;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: "IBM Plex Mono", monospace;
}

.dados li::before {
  width: 20px;
  height: 10px;
  background: #fb5;
  content: "";
  display: inline-block;
}

.dados li a {
  transition: 0.3s;
}

.dados li a:hover {
  color: #e54;
}

.footer {
  grid-column: 3/5;
  background: #fb5;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: initial;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}

.footer p {
  padding: 10px;
}

.janelaModal {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.janelaModal.ativo {
  display: flex;
}

.fechar {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e54;
  border: none;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  color: #000;
}

.modal {
  position: relative;
  background-color: #fb5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  padding: 40px 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  border: 6px solid #e54;
  animation: modalAnimation 0.3s forwards;
}

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0px);
  }
}

.modal button[type="submit"] {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  width: 100px;
  background-color: #e54;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 0.7rem 0rem;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
}

.modal input {
  width: 220px;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal label {
  display: block;
  margin: 1rem 0px 0.5rem 0px;
  color: #000;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .footer {
    grid-column: 1;
  }

  .menu {
    margin-top: 0px;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .titulo {
    font-size: 3rem;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1/3;
  }

  .mapa {
    margin-bottom: 24px;
  }

  .footer {
    margin-bottom: 0;
    text-align: center;
  }
}

.tooltip {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  max-width: 170px;
  font-size: 0.875rem;
  border-radius: 2px;
  top: 0;
  left: 0;
}
